# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env

# Model files (VERY IMPORTANT)
models/*.pkl
models/*.joblib

# Data files
*.csv
*.xlsx

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Docker
*.tar

# Misc
*.zip
*.gz