# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env

# Model files (VERY IMPORTANT)
*.pkl
*.joblib

# Data files
data/
*.xlsx
*.csv
*.pkl
__pycache__/
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Docker
*.tar

# Misc
*.zip
*.gz